@import '../../browser/index.css';

.combos {
  margin: auto;

  &__actions {
    position: absolute;
    top: var(--margin-space);
    left: var(--margin-space);
  }

  & .list,
  & .input__field {
    font-weight: 400;
    font-size: 1.6em;
    line-height: 2.5;
    text-align: center;
    text-transform: lowercase;
  }

  & .input {  margin-top: 1em }
}
