.header {
  position: absolute;
  top: var(--margin-space);
  right: var(--margin-space);

  &__title {
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
    color: var(--gray-60-color);
    font-weight: 600;
    font-size: 1.4em;
    text-transform: lowercase;
  }
}
