.header {
  position: absolute;
  top: 2rem;
  right: 2rem;

  &__title {
    cursor: default;
    user-select: none;
    margin: 0;
    padding: 0;
    color: #BABABA;
    font-weight: 600;
    font-size: 1.4em;
    text-transform: lowercase;
  }
}
