@keyframes intro {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: 4rem;
    opacity: 1;
  }
}

.list,
.list__item {
  @apply --list-reset;
}

.list__item {
  position: relative;

  &--enter { animation: intro .2s }
  &--leave { animation: intro .2s reverse }

  &_remove {
    position: absolute;
    top: calc(.5rem - 1px);
    right: -3em;
    opacity: 0;
    transition: opacity .2s;
    line-height: 3rem;
  }

  &:hover .list__item_remove { opacity: 1 }
}
